In [3]:
print("hello")
#python is a casesensitive languge

hello

In [5]:
print('salaman')

salaman

In [8]:
print(salaman)  # bc it is string so ""'' necessary

NameError: ignored

In [9]:
print(2)

2

In [11]:
print('hello',2,2.4,True)

hello 2 2.4 True

In [12]:
print('hello',2,2.4,True,sep='/') # sepreator in python default is space

hello/2/2.4/True

In [13]:
print('hello')
print('mandhor')

hello
mandhor

In [14]:
print('hello',end='-')
print('world')

hello-world

Data Types

In [17]:
#integer
print(7)
# 1*10*308
print(1e308)

7
1e+308

In [19]:
#Decimal -float
print(6.66)
print(1.7e308)

6.66
1.7e+308

In [21]:
#boolean
print(True)
print(False)

True
False

In [22]:
#text / string
print('hello world')

hello world

In [23]:
#complex
print(5+6j)

(5+6j)

In [24]:
#list-> c->array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [25]:
#tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [26]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [29]:
#Dictionary- key-valuepairs
print({'name':'manish','gender':'male'})

{'name': 'manish', 'gender': 'male'}

In [31]:
#type
type(3)
type(3.5)

float

3. Variables

In [ ]:
#static vs Dynamic typing
#static vs Dynamic Binding
#Stylish delecration techniques
#variables are containers usedfor further use

In [33]:

#c/c++
#int Name = 'manish';
#python
name= 'manish'
print(name)

a=5
b=6
print(a+b)

manish
11

In [ ]:
#Dynamic typing - do not specify the datatype associated with the variable
a=5
#static typing
int a=5;
#python supports dynamic typing

In [34]:
#dynamic binding- The variable can hold diffrent datatype can change any time.
a=5
print(a)
a='nitish'
print(a)

5
nitish

In [35]:
#Stylish delecration techniques
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [36]:
a=b=c=5
print(a,b,c)

5 5 5

4. Keywords & identifiers

In [38]:
# keywords 32 keywords in python eg if,else
print(print)

<built-in function print>

In [42]:
# Identifiers
#1 you can not start with a digit
name1='nitisj'
print(name1)
#2 you can use special chars - underscore
_name='manish'
print(_name)
#3 identifiers can not be keywords

nitisj
manish

#5. User Input

In [48]:
#static vs Dynamic software
 #input funtion
input('Enter Email')

Enter Emailman@gmail.com

'man@gmail.com'

In [52]:
#take input from users and store them in variable
fnum=input('enter 1 no')
snum=input('enter 2 no')
print(type(fnum),type(snum))
#add the 2 variables
result=fnum+snum
#print the result
print(result)

enter 1 no56
enter 2 no67
<class 'str'> <class 'str'>
5667

#6. Type Conversion

In [59]:
 #implicit vs explicit
 #implicit type-
 print(5+5.6)
 print(type(5),type(5.6))

 #print(4+'4')  #use explict type here

10.6
<class 'int'> <class 'float'>

In [61]:
#explict type
#str -> int
type(int('4'))
# can not convert complex no to int

#int to string
str(5)

# float
float(4)

4.0

In [64]:
#take input from users and store them in variable
fnum=input('enter 1 no')
snum=input('enter 2 no')
print(type(fnum),type(snum))
#add the 2 variables
result=int(fnum)+int(snum)  # type conversion from str to int(it does not change the datatype it create anohter datatype)
#print the result
print(result)
print(type(fnum)) ### imp (it does not change the original datatype here fnum will the string only)

enter 1 no4
enter 2 no4
<class 'str'> <class 'str'>
8
<class 'str'>

#7. Literals

In [72]:
# raw values in variables is literals
a= 0b1010 #binary literals
b= 100 #decimal literals
c=0o310 #octal literals
d=0x12c #hexadecimal literals
print(a,b,c,d)
#flaot literals
float_1=10.5
float_2=1.5e2
print(float_2)

#complex literals
x=3.14j
print(x,x.imag,x.real)

10 100 200 300
150.0
3.14j 3.14 0.0

In [76]:
#string literals
string="mantu"
strings='mantu'
char = "c"
multiline_str= """ this is multiline"""
#unicode=u"\u0"
raw_str=r"raw\nstring"
print(string)
print(strings)
print(char)
print(multiline_str)
print(raw_str)

mantu
mantu
c
 this is multiline
raw\nstring

In [78]:
#boolean literals
a=True+2
b=False+10
print(a,b)

3 10

In [79]:
a=None
print(a)

None

#8. Operators

In [ ]:
#arithmetic
#relational
#logical
#bitwise
#assignment
#membership